* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.a{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.a>a{
    text-decoration: none;
    font-size: 25px;

}

.forma {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 0;
    align-items: center;
}

#ad, #link, #add_lunch, #sendPrince {
    width: 500px;
    padding-left: 5px;
    outline: none;
    height: 30px;
    border-radius: 12px;
    border: 2px solid grey;
}

#Btn, #btn_lunch{
    background: transparent;
    padding: 4px;
    width: 100px;
    border-radius: 12px;
    background-color: rgba(0, 128, 0, 0.473);
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.cards, #lunch{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 220px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 2px solid grey;
    border-radius: 12px;
    padding: 5px 0;
}


.card_img{
    width: 200px;
    height: 300px;
    
}
.btn{
    width: 200px;
    color: red;
    background-color: rgba(255, 0, 0, 0.103);
    border: none;
    cursor: pointer;
    padding: 3px 0;
}
.point, .delete{
    pointer-events: none;
}

.delete{
    color: red;
}

#list{
    width: 700px;
}

.head{
    font-weight: bold;
    color: brown;
}

.mesaj{
    display: flex;
    justify-content: center;
    margin: 70px 0;
}

.bs_ln{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 40px;

}

#lunch{
    margin-bottom: 70px;
}

@media only screen and (max-width:700px){
    #ad, #link{
        width: 300px;
    }
    .bs_ln{
        flex-direction: column;
        align-items: center;
    }
    #add_lunch, #sendPrince{
        width: 350px;
    }
    #list{
        width: 400px;
    }
}