@import url(./root.css);

.contact {
    margin: 150px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#message {
    width: 500px;
    height: 200px;
    outline: none;
    border: 2px solid rgba(0, 0, 255, 0.450);
    padding: 10px;
    border-radius: 5px;
}

#name {
    width: 500px;
    outline: none;
    border: 2px solid rgba(0, 0, 255, 0.457);
    padding: 10px;
    border-radius: 5px;

}

#phone {
    width: 500px;
    outline: none;
    border: 2px solid rgba(0, 0, 255, 0.457);
    height: 30px;
    border-radius: 5px;
    padding-left: 5px;
}


#send {
    background: transparent;
    border: none;
    font-size: 30px;
    color: green;
    cursor: pointer;
    transition: 0.5s ease all;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid green;
    width: 500px;
    letter-spacing: 3px;
}

#send:hover {
    color: white;
    background-color: green;
}


#message:focus {
    box-shadow: 0px 4px 15px 8px rgba(0, 0, 255, 0.393);
}

#name:focus {
    box-shadow: 0px 4px 15px 8px rgba(0, 0, 255, 0.393);
}

#phone:focus {
    box-shadow: 0px 4px 15px 8px rgba(0, 0, 255, 0.393);
}

@media only screen and (max-width:700px) {
    #message {
        width: 300px;
        height: 150px;
    }

    #name {
        width: 300px;
    }

    #phone {
        width: 300px;
    }
}