* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* head */

.head {
    position: relative;
}

.header {
    overflow: hidden;
}

.header>img {
    min-width: 100%;
    height: 100vh;
    filter: blur(1.2px)
}

.navbar {
    background-color: rgba(240, 248, 255, 0.381);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 850px;
}

.nav_link {
    display: flex;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.nav_link>li>a {
    text-decoration: none;
    font-size: 25px;
    font-style: italic;
    color: rgba(0, 0, 255, 0.562);
}

.head_text {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    color: white;
}

.head_text>h3 {
    font-size: 35px;
    letter-spacing: 5px;
    width: auto;
}


/* nav_hidden */

.nav_hidden {
    display: none;
    justify-content: space-between;
    padding-right: 5px;
    position: fixed;
    top: 0;
    z-index: 18;
    width: 100%;
    height: 100px;
    background-color: rgba(255, 0, 0, 0.397);
}

.nav_hidden_link {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    display: flex;

}

.link_hidden {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.397);
    height: 0;
    overflow: hidden;
    transition: 0.5s ease all;
    cursor: pointer;
}

.link_hidden li>a {
    text-decoration: none;
    font-size: 25px;
    color: white;

}

.fa-bars {
    font-size: 50px;
    color: white;
    margin-right: 10px;
    margin-top: 20px;
}

.nav_hidden>img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}


.footer {
    background-color: #020024;
    width: 100R;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}

.footer_text {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.footer_text>p {
    width: 380px;
    color: white;
    font-style: oblique;
}

.footer_text>h3 {
    color: white;
    font-family: sans-serif;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.footer_logos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logos {
    width: 40%;
    display: flex;
    gap: 20px;
}

.logos>li {
    color: white;
    font-size: 25px;
}

pre {
    color: white;
    font-size: 25px;
}

.hidden {
    color: white;
    font-size: 25px;
    margin-left: 10px;
    display: none;
}


@media only screen and (max-width:900px) {
    .nav_hidden {
        display: flex;
    }

    .navbar {
        display: none;
    }


    .footer {
        flex-direction: column;
        align-items: start;
        gap: 20px;
        padding: 10px;
    }

    .footer_text {
        width: 300px;
    }

    .footer_logos {
        width: 300px;
    }

    pre {
        display: none;

    }

    .hidden {
        display: block;
    }
}